In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('E:/assesment/hate.csv', encoding='ISO-8859-1')

In [3]:
df

       Unnamed: 0                                            comment label
0               1                                dalits are lowlives     N
1               2             gay people are a burden to our society     N
2               3                              Arabs are not welcome     N
3               4  I'm not saying we should actually eliminate he...     N
4               5                       bananas are for black people     N
...           ...                                                ...   ...
41139      117100                     Indian culture is so backwards     N
41140      118100  Women don't want equality, they just want to b...     N
41141      119100                                         fuck covid     P
41142        1205                           This computer is garbage     P
41143      121100                 The only good Muslim is a dead one     N

[41144 rows x 3 columns]

In [4]:
df.columns

Index(['Unnamed: 0', 'comment', 'label'], dtype='object')

In [5]:
df['Unnamed: 0']

0             1
1             2
2             3
3             4
4             5
          ...
41139    117100
41140    118100
41141    119100
41142      1205
41143    121100
Name: Unnamed: 0, Length: 41144, dtype: int64

In [6]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [7]:
df

                                                 comment label
0                                    dalits are lowlives     N
1                 gay people are a burden to our society     N
2                                  Arabs are not welcome     N
3      I'm not saying we should actually eliminate he...     N
4                           bananas are for black people     N
...                                                  ...   ...
41139                     Indian culture is so backwards     N
41140  Women don't want equality, they just want to b...     N
41141                                         fuck covid     P
41142                           This computer is garbage     P
41143                 The only good Muslim is a dead one     N

[41144 rows x 2 columns]

In [8]:
# Remove any unnecessary characters or symbols
df['comment'] = df['comment'].str.replace('[^a-zA-Z\s]', '').str.lower()

C:\Users\india\AppData\Local\Temp\ipykernel_25804\765600406.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['comment'] = df['comment'].str.replace('[^a-zA-Z\s]', '').str.lower()

In [9]:
# Tokenization
# Split the text into individual words
df['comment'] = df['comment'].apply(lambda x: x.split())

In [10]:
df

                                                 comment label
0                                [dalits, are, lowlives]     N
1        [gay, people, are, a, burden, to, our, society]     N
2                             [arabs, are, not, welcome]     N
3      [im, not, saying, we, should, actually, elimin...     N
4                     [bananas, are, for, black, people]     N
...                                                  ...   ...
41139               [indian, culture, is, so, backwards]     N
41140  [women, dont, want, equality, they, just, want...     N
41141                                      [fuck, covid]     P
41142                      [this, computer, is, garbage]     P
41143        [the, only, good, muslim, is, a, dead, one]     N

[41144 rows x 2 columns]

In [11]:
from nltk.stem import PorterStemmer
# Stemming
ps = PorterStemmer()
df['comment'] = df['comment'].apply(lambda x: [ps.stem(word) for word in x])

In [12]:
df

                                                 comment label
0                                   [dalit, are, lowliv]     N
1         [gay, peopl, are, a, burden, to, our, societi]     N
2                               [arab, are, not, welcom]     N
3      [im, not, say, we, should, actual, elimin, hee...     N
4                       [banana, are, for, black, peopl]     N
...                                                  ...   ...
41139                 [indian, cultur, is, so, backward]     N
41140  [women, dont, want, equal, they, just, want, t...     N
41141                                      [fuck, covid]     P
41142                          [thi, comput, is, garbag]     P
41143        [the, onli, good, muslim, is, a, dead, one]     N

[41144 rows x 2 columns]

In [13]:
df['label'].value_counts()

N    22158
P    18950
O       36
Name: label, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder
# Convert Labels
le = LabelEncoder()
df['label'] = le.fit_transform(df['label'])

In [15]:
df

                                                 comment  label
0                                   [dalit, are, lowliv]      0
1         [gay, peopl, are, a, burden, to, our, societi]      0
2                               [arab, are, not, welcom]      0
3      [im, not, say, we, should, actual, elimin, hee...      0
4                       [banana, are, for, black, peopl]      0
...                                                  ...    ...
41139                 [indian, cultur, is, so, backward]      0
41140  [women, dont, want, equal, they, just, want, t...      0
41141                                      [fuck, covid]      2
41142                          [thi, comput, is, garbag]      2
41143        [the, onli, good, muslim, is, a, dead, one]      0

[41144 rows x 2 columns]

In [16]:
df['label'].value_counts()

0    22158
2    18950
1       36
Name: label, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41144 entries, 0 to 41143
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  41144 non-null  object
 1   label    41144 non-null  int32
dtypes: int32(1), object(1)
memory usage: 482.3+ KB

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report


X = df['comment'].astype(str)  # Ensure 'comment' column contains strings
y = df['label']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# TF-IDF Vectorization
vectorizer = TfidfVectorizer()
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

# Choose a model (e.g., Naive Bayes)
model = MultinomialNB()

# Train the model
model.fit(X_train_tfidf, y_train)

# Make predictions on the test set
predictions = model.predict(X_test_tfidf)

# Evaluate the model
accuracy = accuracy_score(y_test, predictions)
report = classification_report(y_test, predictions)

print(f'Accuracy: {accuracy}')
print(f'Classification Report:\n{report}')

Accuracy: 0.6061489852959048
Classification Report:
              precision    recall  f1-score   support

           0       0.60      0.79      0.68      4375
           1       0.00      0.00      0.00         4
           2       0.63      0.40      0.49      3850

    accuracy                           0.61      8229
   macro avg       0.41      0.40      0.39      8229
weighted avg       0.61      0.61      0.59      8229

C:\Users\india\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\india\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\india\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))